<ng-container *ngIf="incident; else noData">
<!--agregar esto posteroprmente incident.shovel.status.name??'sin informacion')"-->
  <!-- Header con alertas de estado -->
  <div class="status-badges">
    <h3 class="page-title">Incidente #{{ incident.idINCIDNT }}</h3>
    <p-tag
    [value]="incident.shovel.status.name"
    [severity]="getSeverity(incident.shovel.status.name)"
    >
  </p-tag>
  <p-tag
  [value]="incident.statusIncident.name"
  [severity]="getSeverity(incident.statusIncident.name)"
  >
</p-tag>
</div>

<!-- Sección Detalles Maquinaria -->
<p-divider align="left" type="solid">
  <b>Detalle de Maquinaria</b>
</p-divider>

<div class="cards-grid">
  <ng-container>
    <!-- Columna izquierda: datos básicos de la pala -->
    <div class="element-container">
      <div>
        <h4 class="page-subtitle">Número de Serie</h4>
        <i class="pi pi-hashtag icon-style"></i>
        <span class="description-span">
          {{ incident.shovel.serialNumber }}
        </span>
      </div>

      <div>
        <h4 class="page-subtitle">Marca</h4>
        <i class="pi pi-tag icon-style"></i>
        <span class="description-span">
          {{ incident.shovel.brand }}
        </span>
      </div>

      <div>
        <h4 class="page-subtitle">Modelo</h4>
        <i class="pi pi-box icon-style"></i>
        <span class="description-span">
          {{ incident.shovel.model }}
        </span>
      </div>
    </div>

    <!-- Columna derecha: estado operacional -->
    <div class="element-container">
      <div>
        <h4 class="page-subtitle">Estado Operacional</h4>
        <p-tag
        [value]="incident.shovel.status.name"
        [severity]="getSeverity(incident.shovel.status.name)"
        >
      </p-tag>
    </div>

    <div>
      <h4 class="page-subtitle">Descripción del Estado</h4>
      <i class="pi pi-info-circle icon-style"></i>
        <span class="description-span">
          {{ incident.shovel.status.description }}
        </span>
      </div>

      <div>
        <h4 class="page-subtitle">Última Actualización</h4>
        <i class="pi pi-calendar icon-style"></i>
        <span class="description-span">
          {{ incident.shovel.dateTime }}
        </span>
      </div>
    </div>
  </ng-container>
</div>

<!-- seeccion Detalles Inicdente -->
<p-divider align="left" type="solid">
  <b>Detalle de Incidente</b>
</p-divider>
<div class="cards-grid">
  <ng-container>
    <!-- Columna izquierda -->
    <div class="element-container">
      <div class="detail-row">
        <h4 class="page-subtitle">Id Incidente</h4>
        <div class="info-value">
          <i class="pi pi-hashtag icon-style"></i>
          <span class="description-span">
            {{ incident.idINCIDNT }}
          </span>
        </div>
      </div>

      <!-- Fecha y hora -->
      <div class="detail-row">
        <h4 class="page-subtitle">Fecha y Hora</h4>
        <div class="info-value">
          <i class="pi pi-calendar icon-style"></i>
          <span class="description-span">
            {{ incident.datetime }}
          </span>
        </div>
      </div>

      <!-- Estado del incidente -->
      <div class="detail-row">
        <h4 class="page-subtitle">Estado</h4>
        <p-tag
        [value]="incident.statusIncident.name"
        [severity]="getSeverity(incident.statusIncident.name)"
        >
      </p-tag>
    </div>
  </div>

  <!-- Columna derecha -->
  <div class="element-container">
    <div class="detail-row">
      <h4 class="page-subtitle">Descripción del Incidente</h4>
      <div class="info-value">
          <i class="pi pi-info-circle icon-style"></i>
          <span class="description-span">
            {{ incident.description }}
          </span>
        </div>
      </div>
      <div class="detail-row">
        <h4 class="page-subtitle">Observaciones</h4>
        <div class="info-value">
          <i class="pi pi-file-edit icon-style"></i>
          <span class="description-span">
            {{ incident.observation }}
          </span>
        </div>
      </div>
      <!-- Usuario reportante -->
      <div class="detail-row">
        <h4 class="page-subtitle">Usuario Reportante</h4>
        <div class="info-value">
          <i class="pi pi-user icon-style"></i>
          <span class="description-span">
            {{ incident.idUser ?? "No registrado" }}
          </span>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<p-divider align="left" type="solid">
  <b>Evidencia fotografica</b>
</p-divider>

<!-- seeccion evidencia fotografica-->
<div class="cards-grid">
  <ng-container>
    <div class="element-container">
      <div>
        <h4 class="page-subtitle">Imagen</h4>
        <p-image
        [src]="incident.image.path"
        alt="Evidencia Incidente"
        width="250"
        [preview]="true"
        styleClass="image-formate"
        >
      </p-image>
    </div>
  </div>
  <div class="element-container">
    <div>
      <h4 class="page-subtitle">Nombre Archivo</h4>
      <i class="pi pi-file icon-style"></i>
      <span class="description-span">
        {{ incident.image.rawName }}
      </span>
    </div>
    <div>
      <h4 class="page-subtitle">Fecha Captura</h4>
      <i class="pi pi-calendar icon-style"></i>
      <span class="description-span">
        {{ incident.image.dateTimePic }}
      </span>
    </div>
  </div>
</ng-container>
</div>

<p-divider></p-divider>

<!-- Botón de guardar-->
<div class="footer-actions">
  <p-button
  label="Guardar Incidente"
  icon="pi pi-save"
  severity="success"
  [style]="{ width: '200px' }"
  >
</p-button>
</div>
</ng-container>

<ng-template #noData>
  <div class="error-container" style="text-align: center; padding: 2rem;">

    <i class="pi pi-exclamation-triangle"
       style="font-size: 3rem; color: #f59e0b; margin-bottom: 1rem;">
    </i>

    <h2 class="page-title" style="color: red;">Incidente no encontrado</h2>
    <p>No existen registros para este identificador.</p>
  </div>
</ng-template>
